.page-header {
  //background-image: url("../img/pattern.png");
  //background-repeat: repeat;
  position: relative;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 65px;
    background-color: @color-main;
    z-index: -1;
  }

  &__logo {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 25px;
    text-align: center;
  }

  &__desc {
    display: block;
    margin-top: -5px;
    font-size: 8px;
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__link {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 0.8125em;
    text-transform: uppercase;
    letter-spacing: 0.25em;
    color: #ffffff;


    &--active {
      &::before {
        content: "";
        width: 100%;
        height: 2px;
        position: absolute;
        bottom: -2px;
        left: -1px;
        background-color: #ffffff;
      }
    }
  }

  &__links {
    color: #ffffff;
  }

  &__inner {
    padding: 10px 3.125%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__toggle {
    box-sizing: border-box;
    font-size: 0;
    background-color: transparent;
    border: none;
    width: 40px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    &--opened .page-header__line {
      &:nth-child(1) {
        transform: rotate(45deg) translate(8px, 7px);
      }

      &:nth-child(2) {
        visibility: hidden;
      }

      &:nth-child(3) {
        transform: rotate(-45deg) translate(8px, -8px);
      }
    }
  }

  &__line {
    display: block;
    height: 1px;
    width: 45px;
    background: #fff;
    margin: 5px auto;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @media @screen-sm {
    &::before {
      height: 75px;
    }

    &__logo {
      font-size: 30px;
    }

    &__desc {
      margin-top: -4px;
      font-size: 10px;
    }

    &__link {
      padding: 10px;
    }
  }

  @media @screen-md {
    &::before {
      width: 320px;
      height: 100%;
      z-index: 1;
    }

    background-image: url("../img/pattern.png");
    background-repeat: repeat;

    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
      background-image: url("../img/pattern@2x.png");
      background-size: 64px 120px;
    }

    &__logo {
      font-size: 64px;
    }

    &__desc {
      margin-top: -8px;
      font-size: 12px;
    }

    &__toggle {
      display: none;
    }

    &__inner {
      justify-content: space-between;
      align-items: center;
      background-color: #ffffff;
    }

    &__logotype {
      margin-right: 25px;
      z-index: 2;
    }

    &__links {
      display: flex;
      width: 70px;
      justify-content: space-between;
      z-index: 1;
      position: absolute;
      bottom: -40px;
      font-size: 0;
    }

    &__link {
      display: block;
      width: 30px;
      height: 20px;
      box-sizing: border-box;
      transition: all 0.1s ease-in-out;



      &:hover {
        transform: scale(1.1);
        transition: all 0.1s ease-in-out;
      }

      &:active {
        transform: scale(0.9);
        transition: all 0.1s ease-in-out;

      }

      &--active {
        &::before {
          bottom: -8px;
        }
      }

      &--ru {
        background: linear-gradient(-180deg, white 33.3%, mediumblue 33.3%, mediumblue 66.6%, red 66.6%);
      }

      &--en {
        background: linear-gradient(90deg, transparent 46%, red 46%, red 56%, transparent 56%), linear-gradient(transparent 38%, white 38%, white 42%, red 42%, red 58%, white 58%, white 62%, transparent 62%), linear-gradient(90deg, transparent 44%, white 44%, white 46%, red 46%, red 56%, white 56%, white 58%, transparent 58%), linear-gradient(33deg, transparent 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, transparent 57%), linear-gradient(-33deg, mediumblue 45%, white 45%, white 48%, red 48%, red 54%, white 54%, white 57%, mediumblue 57%);
      }
    }


  }

  @media @screen-lg {
    &__logotype {
      margin-right: auto;
    }

    &__links {
      width: 100px;
    }

    &__link {
      width: 40px;
      height: 25px;
    }
  }

  @media @screen-lg-max {
    &::before {
      width: 590px;
    }

    &__inner {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }
}
