@screen-xs-min: ~"(min-width: 320px)";
@screen-xs: ~"(min-width : 480px)";
@screen-sm: ~"(min-width : 660px)";
@screen-md: ~"(min-width : 992px)";
@screen-lg: ~"(min-width: 1200px)";

@color-main: #000fff;
@color-text: #1d1d1d;
@color-text--grey: #9b9b9b;
@color-grey: #a4a4a4;

